
<html>
<header><title>madlib</title></header>
<body>
  Welcome <%= name %>! My favorite food is <%= food %> too! We both love the movie
  <%= movie %>.
  Im 100 years old, and you are <%= age %>
  years old. Crazy world. You should buy a pet <%= pet %>!
</body>
</html>
